/*--------------------------------------------------------MAIN-------------------------------------------------------*/
/*--------------------------------------------------------MAIN-------------------------------------------------------*/
/*--------------------------------------------------------MAIN-------------------------------------------------------*/
/*--------------------------------------------------------MAIN-------------------------------------------------------*/
/*--------------------------------------------------------MAIN-------------------------------------------------------*/
main article{
	/*display: grid;*/
	grid-gap: 18px;
	grid-template-columns:100%;

	grid-template-rows: 50px auto auto 15px;

	display: grid;
}
.blog main article{
}
main article:not(:only-of-type):not(:last-child){
	margin-bottom: 18px;
	border-bottom: 1px solid var(--dark);
}
main{
	box-sizing: border-box;
	padding: 8px;
	width: 100%;
}
	/*

*/

.action-box{
	background: var(--blue);
    height: 258px;
    /* padding: 0; */
    margin: -276px 0;
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    
}
.clear-action-box{
	height: 258px;
	margin: 18px 0;
}
.action-box > div{
	max-width: 100%;
	margin: 0 auto;
	color: var(--light);
	display: grid;
    grid-template-columns:1fr 242px; 
    padding: 8px;
    grid-template-rows: 242px;
}
.action-box > div > div{

}
.action-box div h3{
	color: var(--light);
}
.action-box img{
	grid-column-start: 2;
    grid-row-start: 1;
	height: auto;
	max-height: 242px;
	max-width: 242px;
	width: 100%;
}
//Frontpage 
body > main > div.frontpageNotes{
	display: grid;
}
.frontpageNotes{
	display: grid;
	grid-gap:16px;
	margin-top: 16px;
}
.frontpageNotes > *{
	box-sizing: border-box;
	padding: 8px;
	background: rgba(220, 220, 220, 1);
	box-shadow: 1px 1px 3px rgba(14,14,14,0.4);
	border-radius: 2px;
}

.home main > img{
	margin-top: 16px;
	width: 100%;
	height: auto;
}



@media screen and (min-width: 1362px) {
	
	.frontpageNotes{
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
	}
	.frontpageNotes.nr-3{
		grid-template-columns: 1fr 1fr 1fr;
		/*grid-template-rows: 1fr;*/
	}
	.frontpageNotes.nr-2{
		grid-template-columns: 1fr 1fr;
		
	}
	.frontpageNotes.nr-1{
		grid-template-columns: 100%;
		
	}
	main{
		margin: 0 auto;
		max-width: var(--max-width);
		display: grid;
		grid-template-columns:auto 258px;
	}
	.blog main{
		grid-template-columns:auto;
	}
	main article{
		grid-template-columns:auto;
		grid-template-rows:auto 1fr auto;
		grid-template-areas: "header" "article" "footer"
	}
	.blog main article{
		grid-template-columns:auto 258px;
		grid-template-areas: "header image" "article image" "footer footer"
	}
	.blog article img{
		grid-area: image;
	}
		
	.page main .info{
		grid-area: info;
	}
	main article .heading{
		grid-area: header;
	}
	main article .exerpt{
		grid-area: article;
	}
	main article footer{
		grid-area: footer;
	}
	.action-box > div{
		max-width: var(--max-width);
	}
}
