.comment-child{
    margin-left: 10px;
}
.bypostauthor .comment-body {
    border-left: 4px solid var(--blue);
    padding-left: 5px;
}
.comment-author cite a{
    font-style: italic;
}
.avatar {
    vertical-align: middle
}
ul.comments{
    list-style: none;
}
.comment{
    margin:10px 0px ;
    font-size: 1em;
}
.even > .comment-body{
    background: var(--bluetrans);
}
.fn{
    font-size: 1.3em;
}
.comment-meta{
    font-size: .8em;
}
.reply a{
    margin: 4px;
    padding: 6px;
}
.coment-pagenation{
    text-align: center;
}
.page-numbers{
    display: inline-block;
    padding: 4px 8px;
    background: var(--blue);
    color: var(--light);
    border-radius: 15px;
    text-align: center;
    border: 1px solid var(--blue)
}
.page-numbers:not(.next):not(.prev){
    min-width: 30px;
}
.page-numbers.current{
    background: var(--light);
    color: var(--blue);
}