footer h1, footer h1 a, footer h2, footer h2 a,
footer h3,footer h4,footer h5,footer h6{
	color: var(--light);
}
footer h1 a:hover, footer h2 a:hover{
	color: var(--upptackare);
}

ul.avdelningar-nav.footer-aria{
	margin-top:16px; 
}
body > footer{
	background-color: var(--dark);
	box-sizing: border-box;
	color: var(--light);
	margin-top: 18px;
	display: -ms-grid;
	display: grid;
	justify-items: center;
	align-items: center;
	    grid-template-areas: "action" "social" "logga" "kontakt" "copy";
	grid-gap:16px;
	padding: 16px 33px;
	max-width: 100vw;
}
body > footer > *:first-child{
	-ms-grid-row: 4;
	-ms-grid-column: 1;
	grid-area: kontakt;
}
body > footer > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: action;
}
body > footer > *:nth-child(3){
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: social;
}
body > footer > *:nth-child(4){
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: logga;
}
body > footer > *:nth-child(5){
	-ms-grid-row: 5;
	-ms-grid-column: 1;
	grid-area: copy;
	text-align: right;
}
body > footer .karnamn{
	font-size: 40px;
	font-family: ScouternaRounded;
	line-height: 30px;
	color: var(--light);
	text-transform: uppercase;
	text-decoration: none;

}
body > footer .karnamn:hover{
	text-decoration: underline;
}
body > footer .karnamn img{
	height: 30px;
}
.social-aria{
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}
.social-aria img{
	width: 100px;
	-webkit-filter: invert(1);
	        filter: invert(1);
}
.social-aria img:hover{
	-webkit-filter: invert(0.5);
	        filter: invert(0.5);	
}

@media screen and (min-width: 1362px) {
	body > footer{
		-ms-grid-columns: (1fr)[3];
		    grid-template-columns: repeat(3, 1fr);
		-ms-grid-rows: minmax(255px, auto) 44px;
		    grid-template-rows: minmax(255px, auto) 44px;
		    grid-template-areas: "kontakt action social" ". logga copy";
	}
	body > footer .social-aria{
		padding-right: 30px;
	}
}