body.home header{
	min-height: 100vh;
	position: relative;
	max-width: 100vw;
}
body.home.admin-bar header{
	min-height: calc(100vh - 32px);
	background-position: bottom center;
}

body > header{
	background-size: cover;
	margin-bottom: 18px;
	position: relative;
	/*background: var(--blue);*/
	
}
#scoutflik{
	position: absolute;
	left: 0;
	top: 5.3em;
	z-index: 101;

}
#scoutflik img{
	width: 2em;
}

body header nav ul li.menu-item-home a:before{
		background-image: url(../images/Scoutsymbolen_rgb.png);
		height: 0.9em;
		width: 1em;
		content: "";
		background-size: 1em 1em;
		display: inline-block;
	}
	body header nav a{
		font-family: TeeULight;
		display: block;
		padding: 1em 0;
		font-size: 1em;
		width: 100%;
		text-decoration: none;
		color: var(--dark);
		padding-left: 3em;
	}
	body header nav a:hover{
		background-color: var(--dark);
		color: var(--light);

	}
	body header nav a:active{
		background-color: var(--blue);
	}
	body header nav .current-menu-item > a, body header nav .current_page_item > a{
		background-color: var(--blue);
		color: var(--light);
	} 
	.current-page-ancestor > a{
		background-color: var(--blue);
		color: var(--light);

	}
	#topMeny .sub-menu{
		overflow: hidden;
	}
	.sub-menu{
		padding-left: 16px;
		list-style: none;
		transition: height .2s ease;
	}
	.menu-item-has-children > a:after{
		content: "";
		display: inline-block;
		/* background: var(--blue); */
		vertical-align: middle;
		margin-left: 10px;
		border: solid var(--blue);
		border-width: 0px 3px 3px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(135deg);
		-webkit-transform: rotate(-45deg);
	}
	.menu-item-has-children.current_page_item > a:after{
		border-color: var(--light);
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	.menu-item-has-children > .sub-menu{
		height: 0;

	}
	.menu-item-has-children.current_page_item  > .sub-menu{
		height: auto;
	}
	.menu-item-has-children > .sub-menu li{
		overflow: hidden;
	}
	.current-menu-parent > .sub-menu{
		height: 100%;
	}

header .karnamn{
	position: absolute;
	bottom: auto;
    width: 100%;
	top:35%;
	text-align: center;
	
}
.home header .karnamn{
	top:auto;
	bottom: 50%;
}
header .karnamn a{
	
	font-size: 9vw;
	-ms-grid-columns:1fr auto 1fr;
	    grid-template-columns:1fr auto 1fr;
	text-decoration: none;
	font-family: ScouternaRounded;
	text-transform: uppercase;
	color: var(--blue);
	text-shadow: 3px 3px 6px rgba(14,14,14,0.4);
	transition: text-shadow .2s, -webkit-transform .15s ease-out;
	transition: transform .15s ease-out, text-shadow .2s;
	transition: transform .15s ease-out, text-shadow .2s, -webkit-transform .15s ease-out;
}
header .karnamn a .before{
	text-align: right;
}

header .karnamn a:hover{
	text-decoration: underline;
	text-shadow: 1px 1px 3px rgba(14,14,14,0.4);
}
header .karnamn a:active{
	text-shadow: 0px 0px 2px rgba(14,14,14,0.4);
	-webkit-transform: scale(.98);
	        transform: scale(.98);
}
header div.karnamn img{
	/*height: 80%;*/
	-ms-grid-row-align: center;
	    align-self: center;
	-webkit-filter: drop-shadow( 3px 3px 6px rgba(14,14,14,0.4));
    filter: drop-shadow( 3px 3px 6px rgba(14,14,14,0.4));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
header div.karnamn:hover img{
	-webkit-filter: drop-shadow( 1px 1px 3px rgba(14,14,14,0.4));
    filter: drop-shadow( 1px 1px 3px rgba(14,14,14,0.4));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
body header.light .karnamn a{
	color: var(--light);
}
body header.dark .karnamn a{
	color: var(--blue);
}
body header.light #hamburger span{
	background: var(--light);
	transition: background .2s;
}
body header.light #hamburger.open span{
	background: var(--dark);
	
}
body > header > .action-btn{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom:30%;
	text-align: center;
}
header button.caldera-forms-modal, footer button.caldera-forms-modal,
 .action-btn a{
	display: inline-block;
	padding: 16px;
	background-color: var(--blue);
	color: var(--light);
	text-decoration: none;
	font-family: TeeBold;
	font-size: 20px;
	border-radius: 8px;
	box-shadow: 3px 3px 6px rgba(14,14,14,0.4);
	transition: transform .4s;
	border: none;
}
header button.caldera-forms-modal:hover, .action-btn a:hover, footer button.caldera-forms-modal:hover{
	transition: color .2s, background-color .2s;
	text-decoration: underline;
	color: var(--blue);
	background-color: var(--light);
	box-shadow: 1px 1px 3px rgba(14,14,14,0.4);
	cursor: pointer; 
}
header button.caldera-forms-modal:active, .action-btn a:active, footer button.caldera-forms-modal:active{
	-webkit-transform: scale(0.98);
	        transform: scale(0.98);
	border:none;
}
.caldera-forms-modal:focus{
	border:none;
	outline: none;
}
.avdelningar-nav{
	display: flex;
	list-style: none;
	
	width: 100%;
	margin:0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    align-items: center;
    padding: 10px;
	box-sizing: border-box;
}
.avdelningar-nav img{
	max-width: 100%;
	max-height: 50px;
	transition: .4s transform cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.avdelningar-nav a:hover img{
	-webkit-transform: translateY(-10px);
	        transform: translateY(-10px);
}
/*.avdelningar-nav p{
}*/
.avdelningar-nav li a{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	    grid-template-columns: 1fr;
	grid-row: 100px 1em;
	grid-gap: 10px;
	justify-items: center;
}
#topMeny{
	width: 0;
	overflow: hidden;
	opacity: 0;
	background: var(--light);
	transition:width .2s, opacity .2s;
}
#hamburger{
	display: block;
	position: absolute;
	top: 16px;
	right: calc(100% - 16px - 75px);
	
	transition: right .2s;
}
#hamburger span{
	display: block;
	width: 42px;
	height: 8px;
	margin-bottom: 6px;
	background: var(--dark);
	border-radius: 4px;
	transition: width .4s, -webkit-transform .4s;
	transition: transform .4s, width .4s;
	transition: transform .4s, width .4s, -webkit-transform .4s;
}
.karnamn img{
	height: 7vw;
} 
#topMeny.open{
	width: 80%;
	opacity: 1;
	position: fixed;	
	z-index: 100;
	height: 100vh;
}
#topMeny .visabale{
	display: block;
}
.admin-bar #hamburger.open{
	top: 56px; 
}
#hamburger.open{
	z-index: 101;
	position: fixed;
	right: calc(20% + 16px);
}

#hamburger.open span:nth-child(1){
	
	-webkit-transform: rotate(45deg);
	
	        transform: rotate(45deg);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
}
#hamburger.open span:nth-child(2){
	width: 0;
	-webkit-transform: translateX(12px);
	        transform: translateX(12px);
}
#hamburger.open span:nth-child(3){
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;

}

body > header #header-image{
	height: 300px;
	background-size: cover;
	background-position: center;
}


@media screen and (min-width: 562px) {
	header .karnamn{
		text-align: left;
	}
	body:not(.home) header .karnamn{
		transform: translateY(-50%);
		transition: transform .4s;
	}
	header .karnamn a{
		display: -ms-grid;
		display: grid;
	}
}
@media screen and (min-width: 1362px) {
	body:not(.home) header .karnamn{
		transform: translateY(0%)
	}

	#hamburger{
		display: none;
	}

	#topMeny{
		width: 100%;
		opacity: 1;
		background: var(--lighttrans);
		overflow: visible;
	}
	
	#topMeny .submenu{
		display: -ms-grid;
		display: grid;
	}

	body.home header nav{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	body header nav a{
		text-align: center;
		padding-left: 0;
		}
	#topMeny.fixed{
		position: fixed;
		width: 100%;
		top: 0;
		background-color: rgba(255, 255, 255, 1);
		border-bottom: 1px solid var(--dark);
		bottom: auto;
		z-index: 100;
		box-shadow: 0px 0px 6px var(--dark);
		-webkit-animation: fixed-nav-appere .3s forwards;
		        animation: fixed-nav-appere .3s forwards;

	}
	.admin-bar #topMeny.fixed{
		top: 2em;
	}
	body header nav.fixed a{
		padding: 8px 0;
	}
	body header nav.fixed ul li.menu-item-home{
		display: block;
	}

	body header nav{
		background-color: rgba(255, 255, 255, 0.5);
	}
	body header nav ul{
		display: -ms-grid;
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-flow: column;
		max-width: var(--max-width);
		margin: 0 auto;
		list-style: none;
		position: relative;

	}
	body header nav ul li.menu-item-home{
		display: none
	}
	body header nav .menu-item-has-children> .sub-menu{
		position: absolute;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		/* max-width: var(--max-width); */
		left: 0;
		top: 3.28em;
		
	}
	body header nav .menu-item-has-children> .sub-menu .sub-menu{
		top: 37px;
	}
	.menu-item-has-children > a:after{
		display: none;
	}
	body header nav.fixed .menu-item-has-children> .sub-menu{
		top: 37px;
		background: var(--light);
	}
	body header nav .menu-item-has-children> .sub-menu a{
		padding: 8px 0;
	}
	body header nav.fixed .menu-item-has-children.current-menu-item > .sub-menu,
	body header nav.fixed .menu-item-has-children.current-menu-ancestor > .sub-menu,
	body header nav.fixed .menu-item-has-children:hover > .sub-menu{
		background: var(--light);
	}
	body header nav .menu-item-has-children.current-menu-item > .sub-menu,
	body header nav .menu-item-has-children.current-menu-ancestor > .sub-menu,
	body header nav .menu-item-has-children:hover > .sub-menu{
		background: var(--lighttrans);
		height: 36px;
		/*border-bottom: 1px solid;*/
    	box-shadow: 1px 4px 2px var(--dark);
	}
	body header nav .menu-item-has-children:hover > .sub-menu{
		z-index: 100;
		border-bottom: 1px solid;
    	box-shadow: 1px 4px 2px #777;
	}
	
	.submenu li{
		border-top: 1px solid var(--dark);
	}
	.submenu a{
		padding: 2px 0;
	}
	.fixed .submenu a{
		padding: 0;
	}
	header .karnamn a{
		font-size: 134px;
		line-height: 147px;
	}
	.karnamn img {
    	height: auto;
	}
	.avdelningar-nav{
		max-width: var(--max-width);
	}
	.avdelningar-nav img{
		max-width: 100%;
		max-height: 150px;
	}
}

@media screen and (max-width: 600px) {
	header div.karnamn > div {
		-webkit-transform: none !important;
		        transform: none !important;
		width: auto !important;
	}
}
@media screen and (max-width: 500px) {
	header .karnamn a{
		left: 107px;
		width: auto;
	}
	
}
@media screen and (min-width: 500px) {
		.avdelningar-nav li{
			width: 80px;
		}
	}