:root {
	/*--------------------------------------*/
	--max-width: 1362px;
	/*--------------------------------------*/
	--max-width: 400px;
	/*--------------------------------------*/
	--dark: rgb(40, 39, 39);
	/*--------------------------------------*/
	--light: #fff;
	/*--------------------------------------*/
	--lighttrans: rgba(255, 255, 255, 0.5);
	/*--------------------------------------*/
	--blue: rgb(4, 58, 99);
	--bluetrans: rgba(4, 58, 99, 0.1);
	/*--------------------------------------*/
	--sparare: rgb(110, 173, 59);
	/*--------------------------------------*/
	--upptackare: rgb(77, 166, 222);
	/*--------------------------------------*/
	--aventyrare: rgb(202, 84, 16);
	/*--------------------------------------*/
	--utmanare: rgb(182, 0, 85);
	/*--------------------------------------*/
	--rover: rgb(228, 223, 24);
	/*--------------------------------------*/
	--rover2: rgb(128, 121, 29);
	/*--------------------------------------*/
}

/*fonts'*/
@font-face {
	font-family: ScouternaRounded;
	src: url(fonts/ScouternaRoundedPro.otf);
}

@font-face {
	font-family: TeeULight;
	src: url(fonts/TeeFranklin-Book.otf);
}

@font-face {
	font-family: TeeBold;
	src: url(fonts/TeeFranklin-Bold.otf);
}

@font-face {
	font-family: garamond;
	src: url(fonts/AGaramondPro-Regular.otf);
}

h1,
h1 a,
h2,
h2 a {
	font-family: TeeULight;
	color: var(--dark);
}

h1 a:hover,
h2 a:hover {
	color: var(--blue);
}

h3,
h4,
h5,
h6 {
	font-family: TeeBold;
	color: var(--dark);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.9rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2em;
}

body {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: minmax(auto, 322px) auto auto;
	grid-template-rows: minmax(auto, 322px) auto auto;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-family: garamond;

}

p,
th,
td,
li,
dd,
dt,
ul,
ol,
blockquote,
q,
acronym,
abbr,
a,
input,
select,
textarea {
	font-family: inherit;
	line-height: 1.5em;
}

p+h1,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6,
p+p {
	margin-top: 1rem;
}

a {
	color: var(--blue);
}

a:hover {
	color: var(--dark);
}

img {
	max-width: 100%;
	height: auto;
}

td{
	padding: 5px 0;
}

.light {
	color: var(--light)
}

.dark {
	color: var(--blue)
}

@media screen and (min-width: 1362px) {
	:root {
		/*--------------------------------------*/
		--max-width: 1362px;
	}
}

@-webkit-keyframes fixed-nav-appere {
	from {
		-webkit-transform: translateY(-37px);
		transform: translateY(-37px);
	}

	to {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes fixed-nav-appere {
	from {
		-webkit-transform: translateY(-37px);
		transform: translateY(-37px);
	}

	to {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

#IE-ALLERT {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100000000000000000000;
	background: rgb(4, 58, 99);
}

.ie-allert-content {
	position: absolute;
	padding: 10px;
	background: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ie-allert-content ul {
	margin-left: 20px;
}
