.header {
    word-break: break-word;
}
.exerpt {
    word-break: break-word;
}
.exerpt ul, .exerpt ol{
    margin-left: 25px;
}
p.has-background, .wp-block-media-text{
	margin: 5px -10px;
}
.wp-block-media-text{
    padding: 10px;

}